html {
    background-color: rgb(235, 234, 234);
}

body {
}

header {
    width: 100%;
    padding: 45px;
    background-image: url(./assets/Space.jpg);
    background-repeat: repeat;
    background-size: cover;
}

ol {
    list-style: none;
}

a:hover {
    color: rgb(142, 245, 245);
}

a {
    text-decoration: none;
}

header nav ol {
    display: flex;
}

header nav ol li a {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: aliceblue;
}

body header nav ol li:nth-of-type(4) {
    margin-left: auto;
    margin-right: 100px;
}

body header nav ol li:nth-of-type(3) {
    margin-left: 200px;
}

body header nav ol li:nth-of-type(2) {
    margin-left: auto;
}
