html {
    background-color: #37013b;
}

header {
    width: 100%;
    padding: 45px;
    background: linear-gradient(to right, #006466,#065a60,#0b525b,#144552,#1b3a4b,#212f45,#272640,#312244,#3e1f47,#4d194d);
}

ol {
    list-style: none;
}

a:hover {
    color: rgb(142, 245, 245);
}

a {
    text-decoration: none;
}

header nav ol {
    display: flex;
}

header nav ol li a {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: aliceblue;
}

body header nav ol li:nth-of-type(4) {
    margin-left: auto;
    margin-right: 100px;
}

body header nav ol li:nth-of-type(3) {
    margin-left: 200px;
}

body header nav ol li:nth-of-type(2) {
    margin-left: auto;
}

main {
    display: flex;
}

main p {
    background-color: #4d194d;
    color: aliceblue;
    margin: 10px;
    margin-top: 100px;
    padding: 10px;
    border: solid 2px #4d194d;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

footer { 
    color: #238991;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}
