html {
    background-color: #2a022e;
}

header {
    border-radius: 5px;
    width: 100%;
    padding: 45px;
    border: solid 1px black;
    background: linear-gradient(to right, #006466,#065a60,#0b525b,#144552,#1b3a4b,#212f45,#272640,#312244,#3e1f47,#4d194d);
}

img {
    height: 50px;
    width: 100px;
    float: left;
    position: absolute;
    transform: translate(-30px,-5px);
    cursor: pointer;
}

ol {
    list-style: none;
}

a:hover {
    color: rgb(142, 245, 245);
}

a {
    text-decoration: none;
}

header nav ol {
    display: flex;
}

header nav ol li a {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: aliceblue;
}

body header nav ol li {
    margin: auto
}



b {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.open-button {
    cursor: pointer;
    opacity: 0.8;
    font-size: 1.2em;
    border-radius: 10px;
    color: white;
    background-color:#252222;
    font-family: "Raleway", sans-serif;
    padding: 10px 20px 10px 20px;
    margin: 10px
}

.form-popup {
    display: none;
    position: fixed;
    top: 40px;
    left: 430px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #202020;
}
  
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #238991;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: #4d194d;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


main p {
    background-color: #4d194d;
    color: aliceblue;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    border: solid 2px #4d194d;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

footer { 
    color: #238991;
    display: flex;
    position: absolute;
    width: 100%;
    padding: 20px;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.nav {
    display: flex;
}

.nav li {
    margin-left: auto;
    font-family: "Raleway", sans-serif;;
}

.nav li a {
    color: #dfdfdf;
}

.login-buttons {
    display: flex;
    width: 100%;
}

.signup a,
.login a {
    margin-left: 150px;
    color: #202020;
    font-family: "Raleway", sans-serif;
}

.signup a:hover,
.login a:hover {
    
    color: #f0f0f0;
    
}








